
body{
  background-color: #292d33;
}


/*NAVBAR CUSTOMIZATION*/
#navbar{
  background-color:transparent;
  color:white;
  font-size:0.9375rem;
  padding:1.563em;
  padding-bottom: 0.313em;
  margin-bottom:0.938em;
}

.nav-search{
  color:white;
  background-color:crimson;
  border-color:crimson;
}

#navbar a{
  color:darkgray;
  font-weight: bold;
}

.item{
  margin-left:15px;
}
/*NAVBAR CUSTOMIZATION END*/


/*Search-bar Styling*/

.searchBar{
  font-size:1.5rem;
  display:block;
  width:100%;
  padding-top: 0.500em;
  padding-bottom:0.500em;
  padding-left:1em;
}

/*Search-bar Styling END  */

/*MOVIE STYLING  GRID*/
.grid-container{
  display:grid;
  grid-template-columns:auto 1fr;
  margin-bottom: 25px;
  align-items: center;
}


/*Movie Styling GRID END */


/*FILM NOIR HOME BACKGROUND STYLING  */

.noir-background{

  background: url('lost.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width:100%;
  height:100%;
  height:38.541666666666664vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.noir-background-text-border{
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 2px;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.noir-background-text-header{
  font-size:7.5rem;
}

.noir-background-text-paragraph{
  font-size:1.375rem;
}

#button1{
  background-color: crimson;

}

#button1,#button2{
  padding:1.563em;
  width:50%;
  font-size:1.3625rem;
  font-weight: 600;
  border: 0px solid;

}

#button2{
  border-left:1px solid white;
  background-color: black;
}

#malakas{
  color:lightgray;
  text-align: right;
}

.noir-collage{
  margin-top:6.250em;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:250px;
  width:90%;

  max-width:100%;

}
