

@font-face {
  font-family: 'TiemposHeadlineWeb-Bold';
  font-style: normal;
  font-weight: normal;
  src: url(TiemposHeadline-Bold.woff);
}



body{
  background-color: #292d33;
}


/*NAVBAR CUSTOMIZATION*/
#navbar{
  background-color:transparent;
  color:white;
  font-size:0.9375rem;
  padding:1.563em;
  padding-bottom: 0.313em;
  margin-bottom:0.938em;
}

.nav-search{
  color:white;
  background-color:crimson;
  border-color:crimson;
}

#navbar a{
  color:darkgray;
  font-weight: bold;
}

.item{
  margin-left:15px;
}
/*NAVBAR CUSTOMIZATION END*/


/*Search-bar Styling*/

.searchBar{
  font-size:1.5rem;
  display:block;
  width:100%;
  padding-top: 0.500em;
  padding-bottom:0.500em;
  padding-left:1em;
}

.img-search{
  border-radius:10px;
}


.search__input{
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid rgba(51,255,222,0.6);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder{
  color: color(#575756 a(0.8));

  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.search__input:hover, .search__input:focus{

      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid crimson;
      border-radius: 0;
      background-position: 100% center;

}




/*Search-bar Styling END  */

/* Sort button styling */
#sort_button{
  margin-top: 0.5em;
  float:right;
  width:5%;
  background-color:crimson;
  border-color:crimson;
}



/*MOVIE STYLING  GRID*/

  .search-background{
    -webkit-box-shadow: -2px -4px 300px 200px rgba(153,0,0,0.02);
    -moz-box-shadow: -2px -4px 300px 200px rgba(153,0,0,0.02);
    box-shadow: -2px -4px 300px 200px rgba(153,0,0,0.02);
  }



.grid-container{
  display:grid;
  grid-template-columns:auto 1fr;
  margin-bottom: 25px;
  align-items: end;
  color:white;
}



.grid-container div{
  font-family: TiemposTextWeb-Regular, Georgia, serif;
  font-weight:400;

}


.grind-container input{
  margin-left:5em;
}

.button-search1{
  background-color:crimson;
  border-color:crimson;
  margin-right:1em;
  color:white;
}

.button-search2{
  background-color:black;
  border-color:black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}



/*Movie Styling GRID END */


/*FILM NOIR HOME BACKGROUND STYLING  */

.noir-background{
  background: url('lost.jpg') no-repeat fixed;
  background-size: cover;
  background-position: top;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width:100%;
  height:81.35444151275286vh;
  position:relative;
}


.noir-background-text-border{
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.noir-background-text-header{
  font-family: TiemposHeadlineWeb-Bold,sans-serif;

  font-size:7.5vw;
}

.noir-background-text-paragraph{
  font-size:1.375vw;
  width:60%;
  margin-left: auto;
  margin-right:auto;
}

#button1{
  background-color: crimson;

}

#button1,#button2{
  padding:1.563em;
  width:40%;
  font-size:1.3625rem;
  font-weight: 600;
  border: 0px solid;
  /*prevents the button text from breaking in two lines  */
  white-space: nowrap;
  overflow: hidden;
  /*prevents the button text from breaking in two lines  */

}

#button2{
  border-left:1px solid white;
  background-color: black;
}

#movie-title{
  color:gray;
  text-align: right;
  font-size:0.7vw;
}

.noir-collage{
  margin-top:6.250em;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:250px;
  width:90%;

  max-width:100%;
}

/* popular movies section css */

.popular-movies{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-top:6em;
  /*for footer  */

}

.popular-movies-text{

  color:#9ab;
  font-weight: 600;
  font-size:1rem;
  border-bottom:2px solid rgb(153, 170, 187);

}



.headline1{
  font-family: TiemposHeadlineWeb-Bold,sans-serif;
  font-weight:400;
  color:white;

}

.poster{
  border-radius: 4%;
  margin-right:0.1em;
   height: auto;
  margin-bottom:0.1em;

    transition: transform .2s; /* Animation */
}



.imghvr-blur:hover>img{
  filter: blur(3px)!important;
transform: scale(1.2)!important;
opacity: 1!important;

}

.box {
  width: 100px;
  height: 100px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}



#igor{
  background: url('noir.png') no-repeat ;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width:100%;
  height:15.35444151275286vh;
  margin-top:6em;
}



.center{
  line-height: 500px;
height: 100%;

text-align: center;

}

.center h2{
  color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  color: #c8c8c8;
  line-height: 1.5;
display: inline-block;
vertical-align: middle;
font-size:2.4rem;
}

/*  */
/*CHAT POPUP CSS  */
/* .modal{

}

.mask{
  position:absolute;
  background:rgba(0,0,0,0.6)
}
.modal-fade-enter{
  animation:modal-fade-enter both ease-in
}

.modal-zoom-enter{
  animation:modal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5)
}


.modal,.mask{
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
} */

/*CHAT STYLING  */
.app {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "n f f f f f";
}

.new-room-form {
    grid-area: n;
}

.rooms-list {
    grid-area: r;
}

.message-list {
    grid-area: m;
}

.send-message-form {
    grid-area: f;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    overflow: scroll;
    height: 100%;
}

.rooms-list > ul {
    list-style-type: none;
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    margin: 10px 0;
}

.rooms-list > h3 {
    margin: 5px 0;
    color: white;
}

.rooms-list .room a {
    color: crimson;
    font-weight: 600;
    text-decoration: none;
    transition:0.3s;
 }

.rooms-list .room.active a {
    color: black;
}

.room a:hover{

  color:black;
}



.new-room-form {
    padding: 0 5px;
    background: white;
    color: black;
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
}

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 1rem;
    color: crimson;
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}

/*CHAT STYLING END  */

/*  */


/*MEDIA QUERIES  */





@media only screen and (max-width: 1200px) {
  .noir-background-text-paragraph{
    font-size:1.5rem;
    width:90%;
  }

}

@media only screen and (max-width: 992px) {



}




@media only screen and (max-width: 768px ) {
  .noir-background-text-paragraph{
    font-size:1.5rem;
    width:100%;
  }
  #button1,#button2{
    width:50%;
    font-size:0.7rem;
  }



}

@media only screen and (max-width: 600px) {
  .noir-background-text-header{
    font-size:3rem;
  }
  .noir-background-text-paragraph{
    font-size:0.6rem;
    width:100%;
  }

  #navbar{
    margin-bottom:40px;
  }
  #button1,#button2{
    width:50%;
    font-size:9px;
  }

  .item-2 p{
    font-size:0;
  }

  .button-search1,.button-search2,.username-buttons{
    width:100%;
  }

  .modall{
    width:100%!important;
    height:100%!important;
  }

}
