@font-face {
  font-family: 'TiemposHeadlineWeb-Bold';
  font-style: normal;
  font-weight: normal;
  src: url(TiemposHeadline-Bold.woff);
}



body{
  background-color: #292d33;
}


/*NAVBAR CUSTOMIZATION*/
#navbar{
  background-color:transparent;
  color:white;
  font-size:0.9375rem;
  padding:1.563em;
  padding-bottom: 0.313em;
  margin-bottom:0.938em;
}

.nav-search{
  color:white;
  background-color:crimson;
  border-color:crimson;
}

#navbar a{
  color:darkgray;
  font-weight: bold;
}

.item{
  margin-left:15px;
}
/*NAVBAR CUSTOMIZATION END*/


/*Search-bar Styling*/

.searchBar{
  font-size:1.5rem;
  display:block;
  width:100%;
  padding-top: 0.500em;
  padding-bottom:0.500em;
  padding-left:1em;
}

/*Search-bar Styling END  */

/*MOVIE STYLING  GRID*/
.grid-container{
  display:grid;
  grid-template-columns:auto 1fr;
  margin-bottom: 25px;
  align-items: center;
}


/*Movie Styling GRID END */


/*FILM NOIR HOME BACKGROUND STYLING  */

.noir-background{
  background: url('lost.jpg') no-repeat fixed;
  background-size: cover;
  background-position: top;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width:100%;
  height:81.35444151275286vh;
  position:relative;
}


.noir-background-text-border{
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.noir-background-text-header{
  font-family: TiemposHeadlineWeb-Bold,sans-serif;

  font-size:7.5vw;
}

.noir-background-text-paragraph{
  font-size:1.375vw;
  width:60%;
  margin-left: auto;
  margin-right:auto;
}

#button1{
  background-color: crimson;

}

#button1,#button2{
  padding:1.563em;
  width:40%;
  font-size:1.3625rem;
  font-weight: 600;
  border: 0px solid;
  /*prevents the button text from breaking in two lines  */
  white-space: nowrap;
  overflow: hidden;
  /*prevents the button text from breaking in two lines  */

}

#button2{
  border-left:1px solid white;
  background-color: black;
}

#movie-title{
  color:gray;
  text-align: right;
  font-size:0.7vw;
}

.noir-collage{
  margin-top:6.250em;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:250px;
  width:90%;

  max-width:100%;
}

/* popular movies section css */

.popular-movies{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-top:6em;
}

.popular-movies-text{

  color:#9ab;
  font-weight: 600;
  font-size:1rem;
  border-bottom:2px solid rgb(153, 170, 187);

}



.headline1{
  font-family: TiemposHeadlineWeb-Bold,sans-serif;
  font-weight:400;
  color:white;

}

.poster{
  border-radius: 4%;
  margin-right:0.1em;
   height: auto;
  margin-bottom:0.1em;
}






/*MEDIA QUERIES  */


/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */


@media only screen and (max-width: 1200px) {
  .noir-background-text-paragraph{
    font-size:1.5rem;
    width:90%;
  }

}

@media only screen and (max-width: 992px) {



}




@media only screen and (max-width: 768px ) {
  .noir-background-text-paragraph{
    font-size:1.5rem;
    width:100%;
  }
  #button1,#button2{
    width:50%;
    font-size:0.7rem;
  }



}

@media only screen and (max-width: 600px) {
  .noir-background-text-header{
    font-size:3rem;
  }
  .noir-background-text-paragraph{
    font-size:0.6rem;
    width:100%;
  }

  #navbar{
    margin-bottom:40px;
  }
  #button1,#button2{
    width:50%;
    font-size:9px;
  }

}
